# brewfile.lock.json is best for local debugging
# https://www.worldlink.com.cn/en/osdir/homebrew-bundle.html
Brewfile.lock.json

# neovim undo history
config/nvim/undo

# neovim netrw history
# https://vi.stackexchange.com/a/10672
config/nvim/.netrwhist

# neovim plugins
config/nvim/plugin

# config store
config/configstore

# iterm2
config/iterm2

# coc folder
config/coc/extensions
config/coc/list*
config/coc/snippets-mru

# nx cloud env variable
set_nx_cloud_env_variable.fish

# aws env variables
set_aws_env_variables.fish

# node modules
node_modules

# workspace sessions
config/nvim/sessions

# github cli sensitive files
config/gh/hosts.yml
config/gh/state.yml
